:root {
  --wordle-white: #ffff;
  --input-border-color: rgba(255, 255, 255, 0.671);
  --input-border-size: 2px;
  --input-border-style: solid;
  --input-background-color: #121213;
  --empty-background-color: #121213;
  --absent-background-color: #3a3a3c;
  --present-background-color: #c9b458;
  --correct-background-color: #6aaa64;
  --hidden-color: #6e6e72;
  --tile-font-size: 35px;
  --animation-length: .425s;
  --input-animation-length: .1s;
  --title-animation-length: .5s;
  --title-animation-delay: 4s;
  --input-grow-amount: .035;
  --target-tile-size: 60px;
  --target-tile-width: var(--target-tile-size);
  --target-tile-height: var(--target-tile-size);
  --tile-width: calc(var(--target-tile-width) - var(--input-border-size) * 2);
  --tile-height: calc(var(--target-tile-height) - var(--input-border-size) * 2);
  --wordle-font: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--input-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Keyboard {
  display: flex;
  flex-direction:column;
  justify-content:center;
  gap: 5px;
  flex-wrap: wrap;
  user-select: none;
}

.Keyboard-Line {
  display: flex;
  flex-direction:row;
  justify-content:center;
  gap: 5px;
  flex-wrap: wrap;
  user-select:none;
}

.Wordle-Key {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;  
  border-radius: 5px;
  font-family: var(--wordle-font);
  font-size: 20px;
}

.Wordle-Key-Hidden {
  background: var(--hidden-color);
}

.Wordle-Key-Absent {
  background: var(--absent-background-color);
}

.Wordle-Key-Present {
  background: var(--present-background-color);
}

.Wordle-Key-Correct {
  background: var(--correct-background-color);
}

.Wordle-Tile-Input {
  width: var(--tile-width);  
  height: var(--tile-height);  
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  line-height: var(--tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Input {
  width: var(--tile-width);  
  height: var(--tile-height);  
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  line-height: var(--tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: input-grow-shrink var(--input-animation-length) linear alternate;
  animation-delay: 0;
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Title {
  width: var(--target-tile-width);
  height: var(--target-tile-height);  
  text-align: center;
  background: var(--present-background-color);
  border: 2px;
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: title-spin var(--title-animation-length) linear forwards;
  animation-delay: calc(var(--animation-index) * var(--title-animation-length));
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Intermediate-Title {
  width: var(--target-tile-width);
  height: var(--target-tile-height);  
  text-align: center;
  background: var(--present-background-color);
  border: 2px;
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: title-spin var(--title-animation-length) linear forwards;
  animation-delay: calc(var(--line-length) * var(--title-animation-length) + var(--title-animation-delay));
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Title {
  width: var(--target-tile-width);
  height: var(--target-tile-height);  
  text-align: center;
  background: var(--correct-background-color);
  border: 2px;
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: title-spin-back var(--title-animation-length) linear forwards;
  animation-delay: calc(var(--line-length) * var(--title-animation-length) + var(--title-animation-delay));
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Empty {
  width: var(--tile-width);  
  height: var(--tile-height);  
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-color: var(--absent-background-color);
  border-style: var(--input-border-style);
  line-height: var(--tile-height);
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Absent {
  width: var(--target-tile-width);
  height: var(--target-tile-height);
  text-align: center;
  background: var(--absent-background-color);
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Present {
  width: var(--target-tile-width);
  height: var(--target-tile-height);
  text-align: center;
  background: var(--present-background-color);
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Correct {
  width: var(--target-tile-width);
  height: var(--target-tile-height);
  text-align: center;
  background: var(--correct-background-color);
  line-height: var(--target-tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Absent {
  width: var(--tile-width);  
  height: var(--tile-height);  
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-style: var(--input-border-style);
  line-height: var(--tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: flip-to-absent var(--animation-length) linear forwards;
  animation-delay: calc(var(--animation-index) * var(--animation-length));
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Present {
  width: var(--tile-width);  
  height: var(--tile-height);  
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  line-height: var(--tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: flip-to-present var(--animation-length) linear forwards;
  animation-delay: calc(var(--animation-index) * var(--animation-length));
  font-size: var(--tile-font-size);
}

.Wordle-Tile-Flip-Correct {
  width: var(--tile-width);
  height: var(--tile-height);
  text-align: center;
  background: var(--input-background-color);
  border: 2px;
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  line-height: var(--tile-height);  
  vertical-align: middle;
  color: var(--wordle-white);
  font-family: var(--wordle-font);
  animation: flip-to-correct var(--animation-length) linear forwards;
  animation-delay: calc(var(--animation-index) * var(--animation-length));
  font-size: var(--tile-font-size);
}

.Toast {
  width: 250px;
  height: 80px;
  color: black;
  background: white;
  opacity: 1;
  animation: fadeinout 1s linear forwards;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@keyframes flip-to-absent {
  0% {
    background: var(--input-background-color);
  }
  50% {
    transform: rotateX(-90deg); 
    background: var(--input-background-color);
  }
  51% {
    background: var(--absent-background-color);
    border-color: var(--absent-background-color);
  }
  100% {
    transform: rotateX(0deg); 
    background: var(--absent-background-color);
    border-color: var(--absent-background-color);
  }
}

@keyframes flip-to-present {
  0% {
    background: var(--input-background-color);
  }
  50% {
    transform: rotateX(-90deg); 
    background: var(--input-background-color);
    border-color: var(--input-border-color);
  }
  51% {
    background: var(--present-background-color);
    border-color: var(--present-background-color);
  }
  100% {
    transform: rotateX(0deg); 
    background: var(--present-background-color);
    border-color: var(--present-background-color);
  }
}

@keyframes flip-to-correct {
  0% {
    background: var(--input-background-color);
  }
  50% {
    transform: rotateX(-90deg); 
    background: var(--input-background-color);
    border-color: var(--input-border-color);
  }
  51% {
    border-color: var(--correct-background-color);
    background: var(--correct-background-color);
  }
  100% {
    transform: rotateX(0deg); 
    border-color: var(--correct-background-color);
    background: var(--correct-background-color);
  }
}

@keyframes title-spin {
  0% {
    background: var(--present-background-color);
  }
  50% {
    transform: rotateX(-90deg); 
    background: var(--present-background-color);
  }
  50.1% {
    background: var(--correct-background-color);
  }
  100% {
    transform: rotateX(0deg); 
    background: var(--correct-background-color);
  }
}

@keyframes title-spin-back {
  0% {
    background: var(--correct-background-color);
  }
  50% {
    transform: rotateX(-90deg); 
    background: var(--correct-background-color);
  }
  50.1% {
    background: var(--present-background-color);
  }
  100% {
    transform: rotateX(0deg); 
    background: var(--present-background-color);
  }
}

@keyframes input-grow-shrink {
  0% {
    border-width: var(--input-border-size);
    line-height: var(--tile-height);
    height: var(--tile-height);
    width: var(--tile-width);
  }
  100% {
    border-width: calc(var(--input-border-size) + calc(var(--target-tile-size) * var(--input-grow-amount)));
    line-height: calc(var(--tile-height) - calc(calc(var(--target-tile-size) * var(--input-grow-amount)) * 2));
    height: calc(var(--tile-height) - calc(calc(var(--target-tile-size) * var(--input-grow-amount)) * 2));
    width: calc(var(--tile-width) - calc(calc(var(--target-tile-size) * var(--input-grow-amount)) * 2));
  }
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%, 60% { opacity: .8; }
  100% { opacity: 0; }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RulesPopUp {
  background-color: var(--input-background-color);
  border: 3px solid var(--wordle-white);
  border-radius: 5px;
  font-family: var(--wordle-font);
  color: var(--wordle-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

.RuleInputBox {
  background-color: var(--absent-background-color);
  border: 2px solid var(--wordle-white);
  font-family: var(--wordle-font);
  font-weight: bold;
  border-radius: 5px;
  margin: 1px;
  margin-top: 3px;
  max-height: 22px;
  color: var(--wordle-white);
}

.RuleInputBox:focus {
  outline: none !important;
  background-color: var(--absent-background-color);
  border: 3px solid var(--wordle-white);
  margin: 0px;
  margin-top: 2px;
  color: var(--wordle-white);
}

.RuleInputBox::selection {
  background-color: var(--input-border-color);
}

.RuleSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-radius: 5px; 
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: var(--wordle-white); /* Grey background */
  outline: none; /* Remove outline */
}

.WordleTileSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-radius: 5px; 
  width: 150px; /* Full-width */
  height: 10px; /* Specified height */
  background: var(--wordle-white); /* Grey background */
  outline: none; /* Remove outline */
}

.WordleTileThumb {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  border-radius: 2px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
}

.WordleTileSlider::-webkit-slider-thumb {
  /*opacity: 0;*/
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 2px; 
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--present-background-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.RuleSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 2px; 
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--correct-background-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.WordleTileInputLine {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.WordleInputTile {
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--wordle-white);
  font: var(--wordle-font);
  width: 30px;
  height: 30px;
}

